.loginView {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgb(123, 8, 123);
}

.SpotifyLogo {
  width: 40%;
  /* height: 100%; */
}

.loginView > a {
  padding: 20px;
  border-radius: 99px;
  background-color: #21df64;
  font-weight: 800;
  color: white;
  text-decoration: none;
}
