.loginView {
  display: grid;
  place-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, purple, black);;
}

.SpotifyLogo {
  width: 40%;
  /* height: 100%; */
}

.loginView > a {
  padding: 20px;
  border-radius: 99px;
  background-color: #1fcc5c;
  font-weight: 800;
  color: white;
  text-decoration: none;
}
